body {
    background-color: rgb(20, 23, 31);
    margin: 0;
}

header {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    background-color: white;
}

.link {
    color: black;
    text-decoration: none;
    position: relative;
    margin: 2%;
}

.link:hover {
    color: grey;
}

nav {
    font-size: 42px;
    position: relative;
    text-decoration: none;
    text-align: center;
    margin-bottom: 1vh;
}

.main_header {
    height: 93vh;
    background-color: white;
    margin-bottom: 10vh;
}

#blackbar {
    background-color: #1f1f1f;
    height: 10vh;
    width: 100%;
}

.slider_img {
    height: 50vh;
    width: 100%;
}

#sub_section {
    height: 100vh;
}

#sub_section_left {
    background-color: #1f1f1f;
    float: left;
    width: 50%;
    height: 100vh;
}

#sub_section_right {
    background-color: #1f1f1f;
    float: right;
    width: 50%;
    height: 100vh;
}

#contact_header {
    left: 15%;
    width: 70%;
    height: 10%;
    color: white;
    position: relative;
    top: 30%;
    text-align:center;
    font-size: 64px;
}

#contact_info {
    left: 15%;
    width: 70%;
    height: 20%;
    color: white;
    position: relative;
    top: 35%;
    text-align:center;
}

form {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 5%;
    width: 50%;
    color: white;
    text-align: justify;
    margin-left: 25%;
}

.input_looks {
    color: white;
    background-color: #1f1f1f;
    width: 100%;
    border: none;
    border-bottom: 0.2vh solid white;
    position: relative;
}

.a_link {
    color: white;
}

.a_link:hover {
    color: grey;
}

.label_position {
    position: relative;
    left: 0%;
}

.header_sub {
    color: white;
    font-size: 64px;
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 5vh;
}

.done {
    background-color: #1f1f1f;
    width: 40%;
    color: white;
    border: none;
    margin-left: 30%;
    margin-right: 30%;
    
}

.done:hover {
    background-color: white;
    color: black;
    border: none;
}

footer {

}