.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

nav {
    background-color: white;
    color: black;
    font-size: 24px;
    flex-grow: 1;
}

a {
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    color: black;
    font-family: sans-serif;
}

.logo {
    flex-grow: 2;
}

.profile {
    font-size: 24px;
}
