body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
    margin: 0;
    background-color: rgb(233, 233, 233);
}

.container_left {
    background-color: rgb(235, 104, 53);
    height: 120vh;
    flex-grow: 1;
}

.main_header {
    color: white;
    text-align: center;
    margin-top: 7vh;
    margin-bottom: 15vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

nav {
    display: flex;
    flex-direction: column;
}

.nav_link {
    color: white;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    margin: 5%;
}

.nav_link:hover {
    color: rgb(207, 91, 91);
}

.container_right {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    flex-grow: 20;
    display: flex;
    flex-direction: column;
}

.up {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 100%;
    flex-grow: 1;
}

.overview {
    font-size: 24px;
    text-align: left;
    margin-left: 1vw;
    margin-top: 1vh;
}

.low {
    background-color: rgb(233, 233, 233);
    width: 100%;
    flex-grow: 120;
}

.section1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img {
    width: 500px;
    height: 300px;  
    margin-left: 10%;
}

.info_container {
    width: 400px;
    height: 200px;
    background-color: white;
    margin: 2%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.info_container2 {
    width: 630px;
    height: 300px;
    background-color: white;
    margin: 2%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.section3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info_container3 {
    width: 1320px;
    height: 40vh;
    background-color: white;
    margin: 2%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.Name {
    font-size: 24px;
    text-align: left;
    margin-top: 2%;
    margin-left: 3%;
}

.Numbers {
    font-size: 24px;
    text-align: left;   
    margin-left: 3%;
}