body {
    margin: 0;
}
  
/* ------------------------ header ------------------------ */

nav {
  text-align: right;
  font-size: 1.5vh;
  padding: 0.1vw;
  background-color: rgb(218, 218, 218);
  margin-bottom: 1vh;
  padding: 1vh;
}

.nav_link {
  text-decoration: none;
  color: black;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.nav_link:hover {
  color: rgb(131, 131, 131);
}

/* ------------------------ main ------------------------ */

#container {
    margin: 5%;
    height: 90vh;
    border: black solid 4px;
}

#left_side {
    float: left;
    width: 70%;
    height: 100%;
}

#right_side {
    height: 100%;
    float: right;
    width: 30%;
    background-color: black;
}

.summary {
    border: white solid 2px;
    height: 100%;
    margin: 2.5%;
}

.summary_id {
    margin-left: 5%;
    color: white;
    margin-top: 10%;
    font-size: 32px;
    margin-bottom: 5%;
}

.white_line {
    height: 1px;
    width: 90%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.product_info {
    justify-content: space-between;
    margin-left: 5%;
    color: white;
    margin-top: 10%;
    font-size: 24px;
    margin-right: 5%;
    display: flex;
    margin-top: 5%;
    flex-direction: row;
}

.product_name {
    color: white;
    font-size: 24px;
}

.price {
    color: white;
    font-size: 24px;
}

.ammount {
    justify-content: space-between;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    color: white;
    font-size: 24px;
    margin-bottom: 5%;
    margin-top: 5%;
}

.ammount_text {
    color: white;
    font-size: 24px;
}

.ammount_number {
    color: white;
    font-size: 24px;
}

.end {
    margin-top: 5%;
    margin-left: 5%;
}

#total {   
    color: white;
    font-size: 24px;
    margin-bottom: 5%;
}

#purchase {
    margin-left: 10%;
    width: 275px;
    height: 70px;
    text-align: center;
    background-color: white;
    border: none;
    font-size: 42px;
}

/* ------------------------ Footer ------------------------ */

footer {
    width: 100%;
    margin-top: 5vh;
    background-color: #000000;
    padding-bottom: 10vh;
  }
  
  #foooter_up {
    height: 25vh;
    background-color: #000000;
  }
  
  table {
    margin-left: auto;
    margin-right: auto;
    width: 52%;
  }
  
  .table_header {
    padding-top: 4vh;
    color: white;
    font-size: 3.2vh;
    width: 20%;
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  
  .table_info {
    width: 20%;
    padding-top: 2vh;
    color: rgb(143, 143, 143);
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  
  .table_link {
    text-decoration: none;
    color: rgb(143, 143, 143);
  }
  
  .table_link:hover {
    text-decoration: none;
    color: white;
  }
  
  #foooter_down {
    height: 65vh;
    background-color: #131212;
  }
  
  #footer_down_left {
    float: left;
    width: 50%;
    height: 100%;
  }
  
  #footer_down_left_header {
    margin-top: 5vh;
    color: white;
    font-size: 3.5vh;
    margin-left: 20%;
    font-weight: bolder;
  }
  
  #footer_down_left2 {
    float: left;
    height: 20vh;
    width: 50%;
  }
  
  .footer_down_left2_tags {
    text-align: justify;
    margin-left: 40%;
    margin-top: 2vh;
    color: white;
    font-size: 2vh;
  }
  
  #footer_down_rigt2 {
    float: right;
    height: 20vh;
    width: 50%;
  }
  
  .footer_down_rigt2_tags {
    font-size: 2vh;
    text-align: justify;
    color: white;
    margin-left: 40%;
    margin-top: 2vh;
  }
  
  #footer_down_left_follow {
    color: white;
    font-size: 3.5vh;
    margin-left: 20%;
    font-weight: bolder;
  }
  
  #socials_container {
    margin-left: 15%;
  }
  
  .spcoals {
    height: 6vh;
    width: 6vh;
    margin-left: 5%;
    margin-top: 2vh;
    text-align: center;
  }
  
  #footer_down_right {
    float: right;
    width: 50%;
    height: 100%;
  }
  
  #bold {
    font-weight: bolder;
  }
  
  #list_container {
    margin-top: 5%;
    height: 80%;
    width: 80%;
    color: white;
    font-size: 3.2vh;
    margin-left: 2%;
  }
  
  #footer_down_right_left {
    color: white;
    margin-top: 5%;
    font-size: 2vh;
    height: 100%;
    width: 50%;
    float: left;
  }
  
  #footer_down_right_right {
    color: white;
    margin-top: 7%;
    font-size: 2vh;
    float: right;
    height: 100%;
    width: 50%;
  }